<p id="notice"><%= notice %></p>

put this in your page to track it:
<pre>
 &lt;img src=&quot;http://naivepagetracker.heroku.com<%= visit_website_path(@wrbsite) %>.gif" /&gt; 
</pre>

<p>
  <b>Url:</b>
  <%= @website.url %>
</p>

<p>
  <b>Visits:</b>
  <%= @website.visits.length %>
</p>

<p>
  <b>Uniques:</b>
  <%= @website.visits.uniques.length %>
</p>




<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
